body {
    background-color: darkgrey;
}
h1 {
    color:rgb(188, 27, 172);
    font-family: 'Times New Roman', Times, serif;
    font-style:oblique;
}
a:link {
    color:dimgrey
}
a:visited {
color:firebrick
}
a:hover {
    color: black;
    background-color: lightblue;
}
p {
    background-color: rgb(225, 158, 158);
    padding: 15px;
    margin: 50px;
    border:5px solid #5c5c8a;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 100%
}
.row {
    display: flex;
}
.column {
    flex:50%;
    padding: 5px;
}
.nav a {
    display: block;
    background-color: lightcoral;}