nav {background-color:#F7A1C4;
text-align: center;
font-size:1.5em;
}
body {
    background-color: #E0B7B7;
}
h1 {
    color: #2F2F2F;
    font-family: 'Times New Roman', Times, serif;
    font-style:oblique;
}
a:link {
    color:#94BFA7;
}
a:visited {
color:#2F2F2F
}
a:hover {
    color: white;
    background-color: lightblue;
}
p {
    background-color: #94BFA7;
    padding: 15px;
    margin: 50px;
    border:5px solid #F7A1C4;
    font-family:'Open Sans Condensed', sans-serif;
}
.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.row {
    display: flex;
}
.column {
    flex:50%;
    padding: 5px;
    display: flexbox;
}
.form
{text-align: center;}


@media only screen and (max-width: 600px)
{nav a {display: block;}}
nav a {width:100%}
